body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url('https://s32519.pcdn.co/wp-content/uploads/2019/12/towards-a-weather-proactive-supply-chain-hero-image-2272x960px.jpg.optimal.jpg');
}

#dashboard {
  background-color: teal;
  color: white;
  text-align: center;
}

.myContainer {
  display: grid;
  width: 0%;
  height: 700px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.shortRow {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.rowOne {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin: 20px;
  font-size: 20px;
}

.rowTwo {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  margin: 20px;
  font-size: 20px;
}

#save {
  width: 200px;
  font-size: medium;
}

.inline {
  display: inline;
}

#recentSearches {
  text-align: center;
}